@page
@model IndexModel
<link href="~/css/abchome.css" rel="stylesheet" />

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
 <div class="bg-image"></div>
    <div class="bg-image"></div>

    <div class="bg-text">
        <h1>Welcome to ABC Retail</h1>
        <p style="font-size: 20px">
            Welcome to our store. We are a rapid growing online retailer that sells goods that varies from your everyday groceries all the way 
            to electronical devices. It is our duty and our number one priority that you the customer recieves the best customer service and 
            outstanding products. Your satisfaction is our satisfaction here at ABC Retail</p>
        <p></p>
    </div>

</body>
</html>

