@page
@model PrivacyModel
<link href="~/css/abcaboutus.css" rel="stylesheet" />

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body style="background-color:#f2f2f2">

    <div style="text-align:center">
        <h1 style="font-size:80px;font-style:oblique;font-weight:bolder">About Us</h1>
    </div>

    <!-- What it is?-->
    <div class="container" style="background-color:aliceblue">
        <div class="row">
            <div class="column-66">
                <h1 class="large-font"><b>What is ABC Retail</b></h1>
                <p>
                    We are a rapidly growing online retail store that provides an easier and more reliable way to shop online. Here at ABC Retail you can everything that will
                    satisfy all your needs and wants. We have groceries, electronics, household accessories, gardening products, DYI goods, clothes and even gaming equipment.
                    As a customer, your satisfaction is our number one priority so we ensure to provide quality products and we provide a 24/7 customer support if you ever
                    have any queries.
                </p>
            </div>
            <div class="column-33">
                <img src="~/images/abc.jpg" width="100%" height="100%" />
            </div>
        </div>
    </div>

    <!-- Vision -->
    <div class="container" style="background-color:white">
        <div class="row">
            <div class="column-33">
                <img src="~/images/vision.jpg" width="100%" height="100%" />
            </div>
            <div class="column-66">
                <h1 class="large-font"><b>Our Vision</b></h1>
                <p>
                    Everyday we are working harder to be the biggest and most popular online retail store. Our vision is to is to keep buildin upon our fundamentals of providing
                    customers with the best products and services and to provide this globally. As technologies improve ABC Retail will follow with to ensure our systems are up 
                    to date to ensure customers are provided with the best and the most engaging systems to help them to provide them with the best shopping experience whilst also
                    ensuring their safety while shopping online.
                </p>
            </div>
        </div>
    </div>

    <!-- James Khumalo -->
    <div class="container" style="background-color:aliceblue">
        <div class="row">
            <div class="column-66">
                <h1 class="large-font"><b>Team ABC</b></h1>
                <p>
                    We at ABC Retail work as a family working close with one another to ensure you the customer has the best posible experience. From our packers to the IT staff all the 
                    way to our CEOs we work together hand-in-hand providing feedback and solutions to one another in-order to create a better and safer environment for you as the customer
                    because you are our top priority and if you are satisfied then we as a team feel that we have done a good job providing the services and products that we do.
                </p>

            </div>
            <div class="column-33">
                <img src="~/images/team.jpg" width="100%" height="100%" />
            </div>
        </div>
        <br /><br /><br /><br />
    </div>

</body>
