@page
@model ABCRetail.Pages.StoreModel
<link href="~/css/abcstore1.css" rel="stylesheet" />
<html>
<body>
    <h1 style="font-size:80px;font-style:oblique;font-weight:bolder;text-align:center">Store</h1>
    <table>
        <thead>
            <tr>
                <th>Product Image</th>
                <th>Product Name</th>
                <th>Product Cost</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                <td><img  src="https://abcretailstorage10209811.blob.core.windows.net/products/bread.jpg" /></td>
                    <td>Bread</td>
                    <td>R20</td>
                <td><a src=""><button>Add to Cart</button></a></td>
                </tr>

            <tr>
                <td><img  src="https://abcretailstorage10209811.blob.core.windows.net/products/dog_bed.jpg" /></td>
                <td>Dog Bed</td>
                <td>R450</td>
                <td><a src=""><button>Add to Cart</button></a></td>
            </tr>

            <tr>
                <td><img  src="https://abcretailstorage10209811.blob.core.windows.net/products/pc.jpg " /></td>
                <td>Gaming PC</td>
                <td>R20000</td>
                <td><a src=""><button>Add to Cart</button></a></td>
            </tr>

            <tr>
                <td><img  src="https://abcretailstorage10209811.blob.core.windows.net/products/phone.jpg " /></td>
                <td>Phone</td>
                <td>R2500</td>
                <td><a src=""><button>Add to Cart</button></a></td>
            </tr>

            <tr>
                <td><img  src="https://abcretailstorage10209811.blob.core.windows.net/products/tv.png" /></td>
                <td>TV</td>
                <td>R7500</td>
                <td><a src=""><button>Add to Cart</button></a></td>
            </tr>
        </tbody>
    </table>
</body>
</html>