body {
    background-color: #f2f2f2;
}
table,tr{
    border: 1px solid #ddd;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 100%;
    background-color:white;
}

th, td {
    padding: 15px;
    text-align:center;
}
img{
    height:200px;
    width:200px;
}